.container {
  display: grid;
  grid-template: 1fr/1fr;
}

.img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#paris {
  background-color: #c5c5c5;
  text-align: center;
}

#book {
  text-align: center;
}

#logo {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  text-align: center;
}

.text {
  font-family: "Roboto", sans-serif;
}

.title {
  font-family: "Shrikhand", cursive;
}

#discover {
  text-align: center;
  font-weight: 100;
  color: grey;
}

.button {
  border: none;
  min-width: 180px;
  height: 50px;
  background: #FF79DA;
  color: #faf8f8;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3em;
  padding: 1em;
  font-weight: 700;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step {
  border: none;
  min-width: 180px;
  padding: 0 30px;
  background: #c7c6c7;
  display: inline-block;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 2.8em;
  width: 90%;
  margin: 0.4em;
}

.inside {
  margin: 1em;
}

.inside--number {
  position: absolute;
  left: -1em;
  color: #9356DC;
  width: 1.8em;
}

#insidei {
  margin: 1em;
  margin-left: 2em;
}

.restaurant {
  border-radius: 100px;
  margin: 3em;
  display: grid;
}

.img {
  display: inline-block;
}

.img--border {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

#rname {
  background-color: #dadad8;
  padding: 1em;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.title {
  text-align: left;
}

.heart-shape {
  position: relative;
  width: 2em;
  height: 2em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fcfaf8;
  right: -48em;
  top: -4em;
  border-style: solid;
  border: black;
}

.heart-shape:before,
.heart-shape:after {
  position: absolute;
  width: 2em;
  height: 2em;
  content: "";
  border-radius: 50%;
  background-color: white;
}

.heart-shape:before {
  bottom: 0px;
  left: -1em;
}

.heart-shape:after {
  top: -1em;
  right: 0px;
}

.an {
  display: grid;
}

.title--margin {
  margin-left: 2.5em;
}

.footer {
  background-color: #363636;
  color: white;
}

#logof {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  padding-left: 2em;
  font-size: 1.2em;
}

.text--f {
  padding: 3em;
  padding-top: 0em;
  padding-bottom: 0em;
  font-weight: 800;
  font-size: 0.8em;
}

.ftext {
  padding: 3em;
}

#head {
  display: grid;
  grid-template: 5em/5% 95%;
}

#back {
  position: relative;
  top: 40%;
  right: -50%;
  font-size: 2em;
}

.title--r {
  text-align: left;
  margin-left: 2em;
}

.steps {
  border: none;
  min-width: 180px;
  background: #b6b4b6;
  border-radius: 50px;
  display: grid;
  grid-template: 1fr/75% 10% 15%;
  width: 95%;
  overflow: hidden;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  -webkit-animation: load 1500ms;
          animation: load 1500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.steps:active > .checkl {
  -webkit-animation: checkedl 900ms;
          animation: checkedl 900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.steps--1 {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.steps--2 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.steps--3 {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}
.steps--4 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.steps--5 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.steps--6 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.steps--7 {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}
.steps--8 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.steps--9 {
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}
.steps--10 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

@-webkit-keyframes checkedl {
  to {
    -webkit-transform: scalex(1);
            transform: scalex(1);
  }
}

@keyframes checkedl {
  to {
    -webkit-transform: scalex(1);
            transform: scalex(1);
  }
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  1% {
    -webkit-transform: translate(0, 3em);
            transform: translate(0, 3em);
  }
  90% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes load {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
  }
  1% {
    -webkit-transform: translate(0, 3em);
            transform: translate(0, 3em);
  }
  90% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
.fname {
  font-size: 3.2em;
  margin-left: 0.7em;
  margin-top: 0.5em;
}

.fdescription {
  font-size: 2.2em;
  margin-left: 1em;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 1em;
  right: -20%;
  font-size: 2.8em;
  background-color: yellow;
}

.checkl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.order {
  text-align: center;
}

.cover {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  position: relative;
  top: -7em;
  background-color: white;
}

.th {
  display: grid;
  grid-template: 1fr/90% 10%;
}

.fa-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 2.4em;
}

.dish {
  margin-left: 3em;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3Nhc3MvbGF5b3V0cy9fZmxleC5zY3NzIiwiLi4vc3R5bGUuY3NzIiwiLi4vLi4vc2Fzcy9sYXlvdXRzL19oZWFkZXIuc2NzcyIsIi4uLy4uL3Nhc3MvYmFzZS9fdHlwb2dyYXBoeS5zY3NzIiwiLi4vLi4vc2Fzcy9sYXlvdXRzL3NlY3Rpb24uc2NzcyIsIi4uLy4uL3Nhc3MvbGF5b3V0cy9uYXYuc2NzcyIsIi4uLy4uL3Nhc3MvbGF5b3V0cy9mb290ZXIuc2NzcyIsIi4uLy4uL3Nhc3MvcGFnZXMvcmVzdGF1cmFudHMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNJLGFBQUE7RUFDQSxzQkFBQTtBQ0NKOztBREVBO0VBQ0ksV0FBQTtFQUNBLHNCQUFBO0tBQUEsbUJBQUE7QUNDSjs7QUNSQTtFQUNJLHlCQUFBO0VBQ0Esa0JBQUE7QURXSjs7QUNUQTtFQUNJLGtCQUFBO0FEWUo7O0FFakJBO0VBQ0ksaUNBQUE7RUFDQSxrQkFBQTtFQUNBLGtCQUFBO0FGb0JKOztBRWxCQTtFQUNJLGlDQUFBO0FGcUJKOztBRWpCQTtFQUNJLGlDQUFBO0FGb0JKOztBRy9CQTtFQUNJLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxXQUFBO0FIa0NKOztBRy9CQTtFQUNJLFlBQUE7RUFDQSxnQkFBQTtFQUNBLFlBQUE7RUFDQSxtQkFBQTtFQUNBLGNBQUE7RUFDQSwyQkFBQTtFQUFBLDJCQUFBO0VBQUEsb0JBQUE7RUFDQSxvQkFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtFQUNBLGNBQUE7RUFDQSxZQUFBO0VBQ0EsZ0JBQUE7QUhrQ0o7O0FHOUJJO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7QUhpQ1I7O0FHOUJJO0VBQ0ksWUFBQTtFQUNBLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLG1CQUFBO0VBQ0EscUJBQUE7RUFDQSxvQkFBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EsdUJBQUE7TUFBQSxvQkFBQTtVQUFBLDJCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxVQUFBO0VBQ0EsYUFBQTtBSGlDUjs7QUc5Qkk7RUFDSSxXQUFBO0FIaUNSOztBRzlCSTtFQUNJLGtCQUFBO0VBQ0EsVUFBQTtFQUNBLGNBQUE7RUFDQSxZQUFBO0FIaUNSOztBRy9CSTtFQUNJLFdBQUE7RUFDQSxnQkFBQTtBSGtDUjs7QUl2RkE7RUFDSSxvQkFBQTtFQUNBLFdBQUE7RUFDQSxhQUFBO0FKMEZKOztBSXZGQTtFQUNJLHFCQUFBO0FKMEZKOztBSXZGQTtFQUNJLDRCQUFBO0VBQ0EsNkJBQUE7QUowRko7O0FJdkZBO0VBQ0kseUJBQUE7RUFDQSxZQUFBO0VBQ0EsK0JBQUE7RUFDQSxnQ0FBQTtBSjBGSjs7QUl2RkE7RUFDSSxnQkFBQTtBSjBGSjs7QUl2RkE7RUFDSSxrQkFBQTtFQUNBLFVBQUE7RUFDQSxXQUFBO0VBQ0EsZ0NBQUE7RUFFQSw0QkFBQTtFQUVBLHdCQUFBO0VBQ0EseUJBQUE7RUFDQSxZQUFBO0VBQ0EsU0FBQTtFQUNBLG1CQUFBO0VBQ0EsYUFBQTtBSjBGSjs7QUl4RkE7O0VBRUksa0JBQUE7RUFDQSxVQUFBO0VBQ0EsV0FBQTtFQUNBLFdBQUE7RUFJQSxrQkFBQTtFQUNBLHVCQUFBO0FKMkZKOztBSXpGQTtFQUNJLFdBQUE7RUFDQSxVQUFBO0FKNEZKOztBSXpGQTtFQUNJLFNBQUE7RUFDQSxVQUFBO0FKNEZKOztBSXpGQTtFQUNJLGFBQUE7QUo0Rko7O0FJekZBO0VBQ0ksa0JBQUE7QUo0Rko7O0FLaEtBO0VBQ0kseUJBQUE7RUFDQSxZQUFBO0FMbUtKOztBS2hLQTtFQUNJLGlDQUFBO0VBQ0Esa0JBQUE7RUFDQSxpQkFBQTtFQUNBLGdCQUFBO0FMbUtKOztBS2hLQTtFQUNJLFlBQUE7RUFDQSxnQkFBQTtFQUNBLG1CQUFBO0VBQ0EsZ0JBQUE7RUFDQSxnQkFBQTtBTG1LSjs7QUtoS0E7RUFDSSxZQUFBO0FMbUtKOztBTW5MQTtFQUNJLGFBQUE7RUFDQSx5QkFBQTtBTnNMSjs7QU1uTEE7RUFDSSxrQkFBQTtFQUNBLFFBQUE7RUFDQSxXQUFBO0VBQ0EsY0FBQTtBTnNMSjs7QU1uTEE7RUFDSSxnQkFBQTtFQUNBLGdCQUFBO0FOc0xKOztBTW5MQTtFQUNJLFlBQUE7RUFDQSxnQkFBQTtFQUNBLG1CQUFBO0VBQ0EsbUJBQUE7RUFDQSxhQUFBO0VBQ0EsOEJBQUE7RUFDQSxVQUFBO0VBQ0EsZ0JBQUE7RUFDQSxlQUFBO0VBQ0Esa0JBQUE7RUFDQSxnQkFBQTtFQUNBLDhCQUFBO1VBQUEsc0JBQUE7RUFDQSxzQ0FBQTtVQUFBLDhCQUFBO0FOc0xKO0FNcExRO0VBQ0ksaUNBQUE7VUFBQSx5QkFBQTtFQUNBLHFDQUFBO1VBQUEsNkJBQUE7QU5zTFo7QU1sTFE7RUFDSSw4QkFBQTtVQUFBLHNCQUFBO0FOb0xaO0FNckxRO0VBQ0ksOEJBQUE7VUFBQSxzQkFBQTtBTnVMWjtBTXhMUTtFQUNJLDhCQUFBO1VBQUEsc0JBQUE7QU4wTFo7QU0zTFE7RUFDSSw4QkFBQTtVQUFBLHNCQUFBO0FONkxaO0FNOUxRO0VBQ0ksOEJBQUE7VUFBQSxzQkFBQTtBTmdNWjtBTWpNUTtFQUNJLDhCQUFBO1VBQUEsc0JBQUE7QU5tTVo7QU1wTVE7RUFDSSwrQkFBQTtVQUFBLHVCQUFBO0FOc01aO0FNdk1RO0VBQ0ksK0JBQUE7VUFBQSx1QkFBQTtBTnlNWjtBTTFNUTtFQUNJLCtCQUFBO1VBQUEsdUJBQUE7QU40TVo7QU03TVE7RUFDSSwrQkFBQTtVQUFBLHVCQUFBO0FOK01aOztBTXpNQTtFQUNLO0lBQ0csNEJBQUE7WUFBQSxvQkFBQTtFTjRNTjtBQUNGOztBTS9NQTtFQUNLO0lBQ0csNEJBQUE7WUFBQSxvQkFBQTtFTjRNTjtBQUNGO0FNek1BO0VBQ0k7SUFDSSw0QkFBQTtZQUFBLG9CQUFBO0lBQ0EsVUFBQTtFTjJNTjtFTXhNRTtJQUNJLG9DQUFBO1lBQUEsNEJBQUE7RU4wTU47RU14TUU7SUFDSSxrQ0FBQTtZQUFBLDBCQUFBO0lBQ0EsVUFBQTtFTjBNTjtFTXhNRTtJQUNJLDRCQUFBO1lBQUEsb0JBQUE7RU4wTU47QUFDRjtBTXpOQTtFQUNJO0lBQ0ksNEJBQUE7WUFBQSxvQkFBQTtJQUNBLFVBQUE7RU4yTU47RU14TUU7SUFDSSxvQ0FBQTtZQUFBLDRCQUFBO0VOME1OO0VNeE1FO0lBQ0ksa0NBQUE7WUFBQSwwQkFBQTtJQUNBLFVBQUE7RU4wTU47RU14TUU7SUFDSSw0QkFBQTtZQUFBLG9CQUFBO0VOME1OO0FBQ0Y7QU12TUE7RUFDSSxnQkFBQTtFQUNBLGtCQUFBO0VBQ0EsaUJBQUE7QU55TUo7O0FNck1BO0VBQ0ksZ0JBQUE7RUFDQSxnQkFBQTtFQUNBLGlCQUFBO0VBQ0Esb0JBQUE7QU53TUo7O0FNcE1BO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSxrQkFBQTtFQUNBLHdCQUFBO01BQUEsb0JBQUE7RUFDQSxrQkFBQTtFQUNBLFdBQUE7RUFDQSxnQkFBQTtFQUNBLHdCQUFBO0FOdU1KOztBTXBNSTtFQUNJLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0Esa0JBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsbUJBQUE7RUFDQSx5QkFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLDZCQUFBO0VBQ0EsZ0NBQUE7RUFDQSw0QkFBQTtNQUFBLHdCQUFBO1VBQUEsb0JBQUE7RUFDQSwrQkFBQTtNQUFBLDJCQUFBO1VBQUEsdUJBQUE7QU51TVI7O0FNcE1JO0VBQ0ksa0JBQUE7QU51TVI7O0FNcE1JO0VBQ0ksNkJBQUE7RUFDQSw0QkFBQTtFQUNBLGtCQUFBO0VBQ0EsU0FBQTtFQUNBLHVCQUFBO0FOdU1SOztBTXBNSTtFQUNJLGFBQUE7RUFDQSwwQkFBQTtBTnVNUjs7QU1wTUk7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLGtCQUFBO0VBQ0Esd0JBQUE7TUFBQSxvQkFBQTtFQUNBLGdCQUFBO0FOdU1SOztBTXBNSTtFQUNJLGdCQUFBO0FOdU1SIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */